* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: blue;
    flex-direction: column;
}

.btn {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-color: lightgray;
    color: black;
    font-size: 1.3em;
    border-width: 11px;
}

.btn:focus {
    outline: none;
}

.displayRGB, .displayHEX, .complimentary {
    width: 10em;
    height: 2em;
    background-color: transparent;
    margin-top: 1em;
    padding: .5em;
    border-radius: 1em;
    text-align: center;
    font-size: 1.3em;
    font-weight: bolder;
    border-bottom: 3px solid black;
}

.displayHEX {
    text-transform: uppercase;
}